//Bootstrap theme modification
$theme-colors: (
  "success": #DE8843
);

@import "../node_modules/bootstrap/scss/bootstrap";
//Bootstrap theme modification

//Style
body {
  background-color: #0D3C46;
  color: #F9F9F9;
}

header {
  .navbar-brand {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.125em;
    font-variant: small-caps;
  }

  a {
    color: #F9F9F9 !important;
  }

}

main {

  img {
    width: 90%;
  }

  p {
    text-align: justify;
    padding: 1em 1em 1em 0;
  }

  .argument {
    padding: 1.5em 2em 1.5em 2em;
  }

  .presentation-text {
    padding: 2em;
  }

  .form-presentation {
    width: 80%;
  }

}


//Style

//media query
$breakpoint-tablet: 960px;
@media (max-width: $breakpoint-tablet) {

  main {

    .argument {
      padding: 1.5em 2em 1.5em 2em;
    }

    .presentation-text {
      padding: 1em;
    }

    .form-presentation {
      width: 100%;
    }

    p {
      padding: 1em 0 1em 0;
    }

    img {
      width: 100%;
    }

  }

}

//media query

